
@{
    ViewData["Title"] = "FirstTempDataSample";


    //string email = TempData["EmailAddress"].ToString();
    //int id = Convert.ToInt32(TempData["Id"]);

    //TempData.Keep();
}

<h1>FirstTempDataSample</h1>

@*@email
<br/>
@id*@