@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome123</h1>
    <p>Learn about 123 <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core 123123</a>.</p>
</div>
