
@{
    ViewData["Title"] = "PictureUpload";
}

<h1>PictureUpload</h1>

<form enctype="multipart/form-data" asp-action="PictureUpload">
    <input type="file" name="datei" dirname="C:\" />
   
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
